<app-nav-barprofile></app-nav-barprofile>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Add Your Complaints</label>
            <textarea name="complaints" [(ngModel)]="complaints" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <button (click)="readValues()" class="btn btn-warning">Submit</button>
        </div>
    </div>
</div>
